/*----------
  state
----------*/

.is-disabled {
  color: #ddd !important;
  pointer-events: none;
  background-color: #fff;
}

.is-selected {
  background-color: #f6ea79;
}

.is-hide {
  display: none !important;
}